.container-client {
  display: flex;
  gap: 60px;
  width: 100%;
  height: fit-content;
  padding: 25px 100px;
}

.client-profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background);
  min-width: 330px;
  width: 330px;
  height: fit-content;
  padding: 23px 25px;
  border-radius: var(--radius-card);
  position: sticky;
  top: 100px;
}

.client-profile-card__img {
  border-radius: var(--radius-picture);
  overflow: hidden;
  object-fit: cover;
}

.client-profile-card__name {
  margin-top: 20px;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem; /* 32px */
}

.client-profile-card__note {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
  line-height: 0.75;
}

.client-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 100%;
  max-width: calc(100% - 330px - 60px);
}

.client-content__head {
  text-align: left;
}

.client-content__head h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem; /* 36px */
}

.client-content__head p {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.25rem; /* 20px */
}

.client-content__review {
  margin-top: 30px;
  text-align: left;
  width: 100%;
}

.client-review__stars {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.client-review__stars__item {
  cursor: pointer;
}

.client-review__submit {
  width: 100%;
  margin-top: 16px;
}