.franchise-card {
    display: flex;
    padding: 13px 15px;
    gap: 18px;
    width: 100%;
    max-width: 700px;
    background: var(--background);
    border-radius: var(--radius-card);
}

.franchise-card a {
    color: var(--text-black);
}

.franchise-card a:hover {
    color: initial;
}

.franchise-card__visuel {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: var(--radius-picture);
    overflow: hidden;
}

.franchise-card__visuel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.franchise-card__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.franchise-card__content__details {
    text-align: left;
    flex: 1;
}

.franchise-card__content__details__prestations {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.franchise-card__content__details__prestations__prestation {
    font-weight: 500;
    color: var(--primary);
    font-size: 1rem; /* 16px */
}

.franchise-card__content__details__club {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}

.franchise-card__content__details__address {
    font-weight: 500;
    color: var(--text-grey);
    font-size: 1.125rem; /* 18px */
    margin-bottom: 20px;
}

.franchise-card__content__details__lat-lng span {
    font-weight: 700;
}

.franchise-card__content button {
    width: 100%;
}

.franchise-card .popup {
    width: 800px !important;
}

.franchise-card .login-signup {
    width: 100%;
    max-width: initial;
    padding: 0;
}

.franchise-card .login-signup .form-title {
    font-size: 2rem; /* 32px */
    font-weight: 700;
}

.franchise-card .login-signup__form {
    flex-direction: initial;
    flex-wrap: wrap;
}

.franchise-card .login-signup__form input {
    width: calc(50% - 10px) !important;
}

.franchise-card .login-signup__form__submit,
.franchise-card .login-signup__form__submit input {
    width: 100% !important;
}

.franchise-card .login-signup__form__submit {
    margin: 25px 0 18px;
}

.add-franchise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 75px);
}