.allPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage{
    margin-bottom: 40px;
}

.listPage {
    width: 90%;
}

.lineList {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius-picture);
    overflow: hidden;
    box-shadow: var(--input-shadow);
}

.history-head th,
.partSlot {
    text-align: left;
    padding: 15px 20px;
}

.history-head {
    background-color: var(--dark-background);
    color: var(--text-white);
}

.lineSlot:nth-child(odd) {
    background-color: var(--background-table)
}