.allPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage{
    margin-bottom: 40px;
}

.listPage {
    width: calc(100% - 40px);
}

.lineList {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--radius-picture);
    overflow: hidden;
    box-shadow: var(--input-shadow);
}

.lineList a {
    color: var(--primary);
}

.lineList a:hover {
    color: var(--primary-hover);
}

.history-head th,
.partSlot {
    text-align: left;
    padding: 15px 20px;
}

.noPadding {
    padding: 0 !important;
    width: 150px !important;
}

.history-head {
    background-color: var(--dark-background);
    color: var(--text-white);
}

.lineSlot:nth-child(odd) {
    background-color: var(--background-table)
}

.buttonSlot {
    color: var(--primary);
    background: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}