:root {
  /* Colors */
  --primary: #2970FF;
  --primary-hover: #0040C1;
  --primay-selected: #D1E0FF;
  --background: #F5F8FF;
  --system: #EBEAEF;
  --dark-background: #333333;
  --dark-border: #39393B;

  /* Text colors */
  --text-black: #000000;
  --text-grey: #AEB3BC;
  --text-white: #FFFFFF;

  /* Border radius */
  --radius-card: 30px;
  --radius-picture: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
}

video,
img,
svg,
object {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
button {
  font-family: "Inter", sans-serif;
}
